body {
    background: linear-gradient(to top,#79c7ca,#000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    height: 100vh;
}
h1 {
    font-family: monospace; 
    font-size: 17px; 
    color: #ffffff;
    text-shadow: 
      1px 1px 0 #000000, 
      2px 2px 0 #444444,
      3px 3px 0 #888888, 
      4px 4px 0 #cccccc;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
form {
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: #000000 5px 4px 0 0;
    justify-content: center;
    border-width: 50%;
    margin: 50% auto;
    height: 600px;
    padding: 20px;
    display: grid;
    width: 80%;
    align-items: center;
    max-width: 600px;
    margin-top: 40px;
}
.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #ffffff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.textarea {
    border: 5px solid #422800;
    border-radius: 5px;
    box-shadow: #422800 4px 4px 0 0;
    resize: none;
    width: 12cm;
    height: 6cm; 
    justify-content: center;
}
.textarea:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.select {
    border-radius: 8px;
    box-shadow: #422800 4px 4px 0 0;
    font-size: 20px;
}

.select:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.label {
  font-family:"Press Start 2P", system-ui;
  font-size: 30px;
}

/* @media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
} */
table{
  background-color: #ffffff;
  border: #000000 solid 5px;
  box-shadow: #000000 5px 4px 0 0;
  border-radius: 8px;
  text-shadow: #422800;
  text-align: center;
  margin: 10% auto;
  max-width: 100px;
  width: 30cm;
  height: 6cm;
}

.aze { 
  justify-content: center;
  display: flex;
  margin: 1rem auto;
  z-index: 2;
  margin-bottom: 50px;
}
