body {
    background: linear-gradient(to left,#5c1f17,#791af5);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin: 0;
    height: 100vh;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 40px ;
}
form {
text-align: center;
border: 3px solid black;
}
