body {
    background: linear-gradient(to bottom,#a7dbdd,#7bc4c9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "Gill Sans", sans-serif;}
h1 {
    color: #ffffff;
    text-align: center;
}
form {
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    border-width: 50%;
    margin: 100px;
    height: 200px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #ffffff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* @media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
} */
