<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <title>Program Output</title>
</head>
<body>
    <div class="container">
    <h1>
        <pre>
            __________                                                    ________            __                    __   
            \______   \_______   ____     ____  _______ _____     _____   \_____  \   __ __ _/  |_ ______   __ __ _/  |_ 
             |     ___/\_  __ \ /  _ \   / ___\ \_  __ \\__  \   /     \   /   |   \ |  |  \\   __\\____ \ |  |  \\   __\
             |    |     |  | \/(  <_> ) / /_/  > |  | \/ / __ \_|  Y Y  \ /    |    \|  |  / |  |  |  |_> >|  |  / |  |  
             |____|     |__|    \____/  \___  /  |__|   (____  /|__|_|  / \_______  /|____/  |__|  |   __/ |____/  |__|  
                                       /_____/               \/       \/          \/               |__|                  
        </pre>
    </h1>
    <div class="line"></div>
    <div class="inlie">
    <table>
        <tbody>
            <tr>
                <td><pre class="hoo">{{.Message}}</pre></td>
            </tr>
        </tbody>
    </table>
    <button class="button aze" onclick="history.back()">Go back</button>
    </div>
</body>
</html>
