<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <title>Program Output</title>
</head>
<body>
    <h1><bold>Program Output</bold></h1>
    <table>
        <tbody>
            <tr>
                <td><pre>{{.Message}}</pre></td>
            </tr>
        </tbody>
    </table>
    <button onclick="history.back()">Go back</button>
</body>
</html>
