<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <title>Ascii-Art-Web</title>
</head>
<body>
    <h1>
    <pre>
        _____                   .__ .__             _____             __             __      __         ___.    
        /  _  \    ______  ____  |__||__|           /  _  \  _______ _/  |_          /  \    /  \  ____  \_ |__  
       /  /_\  \  /  ___/_/ ___\ |  ||  |  ______  /  /_\  \ \_  __ \\   __\  ______ \   \/\/   /_/ __ \  | __ \ 
      /    |    \ \___ \ \  \___ |  ||  | /_____/ /    |    \ |  | \/ |  |   /_____/  \        / \  ___/  | \_\ \
      \____|__  //____  > \___  >|__||__|         \____|__  / |__|    |__|             \__/\  /   \___  > |___  /
              \/      \/      \/                          \/                                \/        \/      \/ 
    </pre>
    </h1>
    <form method="post" action="/ascii-art" class="center">
        <label for="txt">Enter your text here:</label>
        <textarea type="text" id="txt" name="input" required></textarea>
        <label for="banner">Select Banner:</label>
        <select id="banner" name="banner" required>
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select>
        <input type="submit" value="Generate ASCII Art">
    </form>
</body>
</html>
