<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <title>Ascii-Art-Web</title>
</head>
<body>
  
    <form method="post" action="/ascii-art">
        <h1 onclick="reloadPage()">Ascii Art Web</h1>
        <label for="txt" class="label">Enter your text here:</label>
        <br>
        <textarea class="textarea" placeholder="Type something here.." id="txt" name="input" maxlength="1000" required 
                  oninput="CountChar()"></textarea>
        <p><span id="char-count">0</span>/1000</p>
        <br>
        <label for="banner" class="label">Select Banner:</label>
        <select class="select" id="banner" name="banner" required>
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select>
        <input class="button" type="submit">
    </form>
    <script>
        function reloadPage() {
            location.reload();
        }
        function CountChar() {
            const textarea = document.getElementById('txt');
            const charCount = document.getElementById('char-count');
            charCount.textContent = textarea.value.length;
        }
    </script>
</body>
</html>
